@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-gray-800;
}
@media print {
  body * {
    visibility: hidden;
  }

  .max-w-4xl,
  .max-w-4xl * {
    visibility: visible;
  }

  .max-w-4xl {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
